{% extends 'views/admin/base.html.twig' %}

{% block admin_content %}
    <h3>Orders</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col" width="170px">Order Number</th>
            <th scope="col">Product Name</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Order Time</th>
            <th scope="col">Status</th>


        </tr>
        </thead>
        <tbody>
        {% for index, model in models %}
            <tr>
                <td>{{ model.number }}</td>
                <td>
                    <ul>
                    {% for detail in model.details %}
                        <li>{{ detail.articleName }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ model.customer.fullname }}</td>
                <td>{{ model.customer.email }}</td>
                <td>{{ model.orderTime }}</td>
                <td>{{ model.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}